<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/header :: head"></head>
<body>
<div th:replace="/header :: body"></div>
<div class="container">
    <h1 class="mb-4">Gestion des Comptes Bancaires</h1>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" th:href="@{/employe/dashboard}">Dashboard Employé</a>
        <a class="list-group-item list-group-item-action" th:href="@{/employe/clients}">Gérer les clients</a>
        <a class="list-group-item list-group-item-action" th:href="@{/employe/comptes}">Gérer les comptes</a>
        <a class="list-group-item list-group-item-action" th:href="@{/employes}">Gérer les employés</a>
    </div>
</div>
<div th:replace="/footer :: footer"></div>
</body>
</html>
